# Laravel
backend/.env
backend/vendor/
backend/node_modules/
backend/storage/*.key
backend/.phpunit.result.cache
backend/storage/framework/
backend/storage/logs/
backend/bootstrap/cache/

# Root
.env
/vendor
/node_modules

# IDE / OS
.idea/
.vscode/
*.swp
.DS_Store
Thumbs.db

# Flutter
mobile/.dart_tool/
mobile/build/
mobile/.flutter-plugins
mobile/.flutter-plugins-dependencies
mobile/.packages
mobile/.pub-cache/
mobile/.idea/
mobile/android/.gradle/

# Backup - do not commit
backend_backup/
